<ion-navbar *navbar>

  <button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>

  <ion-title>Diet Tracker</ion-title>
</ion-navbar>

<ion-content padding class="dashboard-diet-tracker">

  <ion-list *ngFor="let today of days">

    <ion-list-header>
      {{today.date}}
    </ion-list-header>

    <ion-item>

      <ion-list *ngFor="let meal of today.meals">
        <ion-card>
          <ion-card-header>
            {{meal.time}}
          </ion-card-header>
          <ion-card-content>

            <ion-list *ngFor="let item of meal.items">
              <ion-item>
                {{item.name}}
                {{item.quantity}}

                <button (click)="showAlternatives()"> show alternatives </button>
              </ion-item>
              <!--<ion-checkbox [(ngModel)]="item.checked"></ion-checkbox>-->
            </ion-list>


          </ion-card-content>
        </ion-card>
    </ion-list>

      </ion-item>
    </ion-list>

</ion-content>
