<ion-list >
  <ion-list-header>All Activities</ion-list-header>
  <ion-item>
    <ion-card>
      <ion-card-header>
        <ion-avatar>
          This is activity name
        </ion-avatar>
      </ion-card-header>
      <ion-card-content>
        Activity info
        <ion-buttons>
          <button><ion-icon name="add-circle"></ion-icon>Add to my activities</button>
          <button>Dont like this kind</button>
          <button>View Details</button>

        </ion-buttons>
      </ion-card-content>
    </ion-card>
  </ion-item>
</ion-list>
